<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<link href="~/lib/bootstrap5/bootstrap_icons/" />
	<title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
	<script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>
</body>
</html>
