@model string
@await Html.PartialAsync("_Navbar")

@if (Model is not null)
{
	<div><label class="text-danger">@Model</label></div>
}
<div class="mt-2">
	<form asp-action="ForgotPassword" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mt-2">
			<input type="email" name="email" placeholder="Email" class="form-control" />
		</div>
		<div class="mt-2">
			<button type="submit" class="btn btn-primary">Отправить</button>
		</div>
	</form>
</div>