@model LoginViewModel

	<div class="row vh-100 justify-content-center align-items-center">
		<div class="col-12 col-sm-6 col-md-4">
			<h3>Вход</h3>
			<form asp-action="Login" asp-controller="Account" method="post" asp-antiforgery="true">
				<div asp-validation-summary="ModelOnly"></div>
				<div class="form-floating">
					<input asp-for="UserName" class="form-control" placeholder="Имя пользователья">
					<label asp-for="UserName"></label>
				</div>
				<div class="form-floating mt-1">
					<input asp-for="Password" class="form-control" placeholder="Пароль">
					<label asp-for="Password"></label>
				</div>
				<a asp-action="ForgotPassword">Не помню пароль</a>
				<div class="d-grid mt-1">
					<button class="btn btn-primary">Войти</button>
				</div>
			</form>
		</div>
	</div>
	
