@model AvailableHotelsViewModel

<div class="container rounded mt-4 shadow-lg mb-4">
	<div class="row py-2">
		<div class="col">
			<form asp-action="AvailableHotels" asp-controller="Home" method="get" class="row align-items-end">
				<div class="col">
					<label for="cityName" class="form-label"><strong>Куда хотите поехать?</strong></label>
					<input asp-for="City" class="form-control" value="@Model?.City"/>
				</div>
				<div class="col">
					<label for="checkIn" class="form-label"><strong>Заезд</strong></label>
					<input asp-for="CheckIn" class="form-control" value="@Model?.GetCheckIn()"/>
				</div>
				<div class="col">
					<label for="checkOut" class="form-label"><strong>Отъезд</strong></label>
					<input type="datetime-local" name="checkOut" class="form-control" value="@Model?.GetCheckOut()" />
				</div>
				<div class="col-1">
					<input hidden asp-for="Filter" value="false" />
					<button type="submit" class="btn btn-primary">Поиск</button>
				</div>
			</form>
		</div>
	</div>
</div>