.filter-box {
	width: 25%;
	height: 500px;
	position: sticky;
	top: 10px;
}

.hotels, .hotel-card {
	width: 100%;
}

.hotel-rating {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	color: white;
	font-size: 22px;
	font-weight: 700;
	background-color: dodgerblue;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

.dayName {
	font-size: 12px;
}

.day {
	position: relative;
	width: 28px;
	height: 28px;
	margin-left: 3px;
}

.day .hint {
	visibility: hidden;
	width: 80px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 130%;
	left: 50%;
	margin-left: -40px;
	font-size: 12px;
}

.day .hint::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.day:hover .hint {
	visibility: visible;
}
