@model CreateRoomViewModel

<div class="row vh-100 justify-content-center align-items-center">
	<div class="col-12 col-sm-4 col-md-4">
		<form asp-action="CreateRoom" asp-controller="HotelAdmin" method="post">
			<h3>Добавить новую комнату</h3>
			<div asp-validation-summary="ModelOnly"></div>
			<div class="form-floating">
				<input asp-for="Number" class="form-control" placeholder="Номер комнаты" />
				<label asp-for="Number" class="form-label"></label>
			</div>
			<div class="form-floating mt-1">
				<input asp-for="Square" class="form-control" placeholder="Площадь" />
				<label for="Square" class="form-label">Площадь, м<sup>2</sup></label>
			</div>
			<div class="form-floating mt-1">
				<input asp-for="Price" class="form-control" placeholder="Цена" />
				<label asp-for="Price" class="form-label"></label>
			</div>
			<div class="for-check">
				<input class="form-check-input" asp-for="IsFamilyRoom" />
				<label asp-for="IsFamilyRoom"></label>
			</div>
			<div class="d-grid mt-1">
				<button type="submit" class="btn btn-primary">Добавить</button>
			</div>
		</form>
	</div>
</div>